<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnTheMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FE0009D1BEACD6A005F1311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FE000B11BEACD6A005F1311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FE000BC1BEACD6A005F1311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
